<form action="/projects" method="POST">
<input type="text" name="project[name]" placeholder="title">
<input type="text" name="project[start_date]" placeholder="start_date">
<input type="text" name="project[end_date]" placeholder="end_date">
<input type="submit" name="Create Project">
</form>
