<!-- portal/organizations/show -->

<h1>Welcome <%= @organization.name %></h1>

<div class="row">
  <div class="col-4"> <!-- Display Members -->
      <h3>Members</h3>
      <form action="">
        <input type="Submit" value="Create New Members">
      </form>
  </div>

  <div class="col-4"> <!-- Display Last 5 Projects -->
    <h3>Projects</h3>
  </div>

  <div class="col-4">
    <h3>Accountability Processes</h3>
  </div>
</div>












<!-- Accountability Processes -->

