<h2 id="welcome"><%= current_org.name %></h2>

<div class="edit_box">
  <h2>Mission Statement</h2>
  <a class="edit_button" href="/org_sessions/:id/profile/mission_statement">edit</a>
  <p><%= current_org.mission %></p>
</div>

<div class="edit_box">
  <h2>Principles</h2>
  <a class="edit_button" href="/org_sessions/:id/profile/create_principle">edit</a>

  <ul>

  </ul>

</div>


