<h2 class="profile_heading"><%= current_org.name %></h2>

<div id="cover_photo_box">
  <p>Add/Change photo here</p>
</div>
<div id="org_profile_box">
  <div id="mission_box">
    <h2><strong>Mission Statement</strong></h2>
    <a class="edit_button" href="/org_sessions/:id/profile/mission_statement">edit</a>
    <p><em><%= current_org.mission %></em></p>
  </div>

  <div id="principle_box">
    <h2>Principles</h2>
    <a class="edit_button" href="/org_sessions/:id/profile/create_principle">add</a>

    <ul id="principles_list">
      <% current_org.principles.each do |principle| %>
          <%= erb :"portal/organizations/_principle", layout: false, locals: { principle: principle}  %>
      <% end %>
    </ul>
  </div>


  <div id="org_events">
   <p class="page_headings">Upcoming Events</p>
    <% if @events %>
      <% @events.each do |event| %>
        <%= erb :"portal/organizations/_event", layout: false, locals: { event: event}  %>
      <% end %>
    <% end %>
  </div>
</div>


