<h1>Hello <%= current_member.first_name  %></h1>

<div class="row member_accounts">

  <div class="col-5 member_home_grid"> <!-- Display Last 5 Projects -->
    <h3>Projects</h3>
  </div>

  <div class="col-5 member_home_grid">
    <h3>Accountability Processes</h3>
  </div>

</div>
