<p class="page_headings profile_heading border"><%= @member.full_name  %> Profile </p>

<div class="member_photo">
  <p>Profile Photo</p>
</div>

<div class="border personal_story">
  <p>Personal Story</p>
</div>

<div class="activity_box border">
  <div class="col-5 border">
    <p>Projects</p>
  </div>

  <div class="col-5 border">
    <p>Accountability Processes</p>
  </div>
</div>

<div class="border membership_statistics">
  <p>Membership Statistics</p>
</div>
