  <div id="home_body">
    <div class="row">
      <div class="col-6">
        <p id="tagline">Accountability Made Easy</p>
        <p id="intro">Organ Eyez provides an easy-to-use technology for activists and organizers to hold each other accountable.</p>
      </div>
      <div class="col-3"></div>
      <div class="col-3"></div>
    </div>
    <div class="row">
      <div class="col-4"></div>
      <div class="col-8">
        <div id="who">
          <p class="heading">Who is this app for?</p>
          <p>Community organizations and social justice groups, especially those with horizontal leadership structures</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-8">
        <div id="what">
          <p class="heading">What does it do?</p>
          <ul>
            <li>Provides a private internal member portal for organizations</li><br>
            <li>Facilitates transparent accountability processes</li><br>
            <li>Displays membership expectations</li><br>
            <li>Tracks membership participation and attendance</li><br>
            <li>Provides a very simple and easy to use project management tool</li><br>
          </ul>
        </div>
      </div>
      <div class="col-4"></div>
    </div>
    <div class="row">
      <div class="col-4"></div>
      <div class="col-8">
        <div id="why">
        <p class="heading">Why should I use it?</p>
          <ul>
            <li><em>Transparency</em>: Member profiles, projects, and accountability processes are visible to all members. This kind of transparency increases trust, recognition, and understanding.</li><br>
            <li><em>Productivity</em>: Establishing membership expectations increases personal responsibility and incentivizes active contribution. Those who are not meeting membership expectations can be easily identified and given the support they need.</li><br>
            <li><em>Membership Development</em>: visible acknowledgement of member contributions will allow your organization to praise those who deserve it and identify those who need additional support.</li><br>
            <li><em>Efficient Project Management</em>: track projects and tasks in a simple, straight-forward way and share feedback with each other at the end of each project.</li><br>
            <li><em>Accountability</em>: All of the benefits above facilitate accountability. But in the event that a serious accountability process needs to be done, Organ Eyez Accountability Tool helps you to setup an accountability processes, track the process, provide feedback on the process, and upload personal statements or reflections.</li><br>
          </ul>
        </div>
      </div>
    </div>
  </div>
