<div class="row login">
  <div class="col-4"></div> <!-- Column 1 -->
  <div class="col-4"> <!-- Column 2 -->
    <h2>Member Sign-Up</h2>
    <form>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label class="col-form-label">First Name</label>
          <input type="text" class="form-control" placeholder="Ashley">
        </div>
        <div class="form-group col-md-6">
          <label class="col-form-label">Last Name</label>
          <input type="text" class="form-control" placeholder="Cole">
        </div>
      </div>

      <div class="form-group">
        <label class="col-form-label">Email</label>
          <input type="email" class="form-control" placeholder="Email">
      </div>

      <div class="form-group">
        <label class="col-form-label">Password</label>
          <input type="password" class="form-control" placeholder="Password">
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label class="col-form-label">Sign-Up Code</label>
          <input type="text" class="form-control">
        </div>
        <div class="form-group col-md-6">
          <label for="Organization" class="col-form-label">Organization</label>
          <select class="form-control">Choose</select>
        </div>
      </div>

        <button type="submit" class="btn btn-primary" >Sign Up</button>
      </div>
    </form>
  </div>
  <div class="col-4"></div> <!-- Column 3 -->
</div>

<!-- errors -->
<div class="row">
  <div class="col-4"></div>
  <div class="col-4">
    <% if @errors %>
      <ul>
      <% @errors.each do |error| %>
        <li><%= error %></li>
      <% end %>
      </ul>
    <% end %>
  </div>
  <div class="col-4"></div>
</div>


<!-- Organization Sign-Up -->

<div class="row login">
  <div class="col-4"></div>
  <div class="col-4">
    <h2>Organization Sign-Up</h2>
    <form action="/organizations" method="POST">
      <div class="form-group">
        <label class="col-form-label">Organization Name</label>
          <input type="text" name="organization[name]" class="form-control" placeholder="The Alliance">
      </div>

      <div class="form-group">
        <label class="col-form-label">Email</label>
          <input type="email" name="organization[email]" class="form-control" placeholder="email">
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label class="col-form-label">Password</label>
          <input type="password" name="organization[password]" class="form-control" placeholder="password">
        </div>
        <div class="form-group col-md-6">
          <label class="col-form-label">Confirm Password</label>
          <input type="password" name="confirmed_password"  class="form-control" placeholder="password">
        </div>
      </div>

      <button type="submit" class="btn btn-primary" >Sign Up</button>
    </form>
  </div>
  <div class="col-4"></div>
</div>
